.NavBarExpanded:before,
.NavBarExpanded:after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0px;
  border: 20px solid transparent;
  border-right: 0px solid transparent;
  border-bottom-color: #dddddd;
}

.NavBarExpanded:after {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  border-bottom-color: #ffffff;
}
